This one:
body {
      font-family: Arial, sans-serif;
      background-color: #FAF9F6;
      margin-top: 40px;
    }

table {
    border:none;
    border-collapse: collapse;
      width: 80%;
      text-align: center;
    }
caption{
   text-align:left;
   font-weight:bold;
   font-size:30px;
   margin-bottom:10px;
}
  th, td {
      border: none;;
      padding: 10px;
      color: black;
    }
td{
transition:background-color 0.3 ease;}

.styled-table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    background-color: #eef7ff;
    border: 2px solid #0077cc;
}

.styled-table th {
    background-color: #0077cc;
    color: white;
    padding: 10px;
}

.styled-table td {
    padding: 8px;
}

.styled-table tr:nth-child(even) {
    background-color: #d6e9ff;
}

.styled-table tr:hover {
    background-color: #b3daff;
}

 .a { background-color: #ABCDEF;color:#000000; }
 .b { background-color: #F22E07;color:#6E4C42; }
 .c { background-color: #CFC0BC;color:#3B1910; }
 .d { background-color: #F28A07;color:#C9C7C5; }
 .e { background-color: #36D953;color:#46704D; }
 .f { background-color: #9BEBA8;color:#1D3D22; }
 .g { background-color: #96E3B6;color:#092113; }
 .h { background-color: #0CF0D2;color:#072B27; }
 .i { background-color: #91C9C3;color:#2E403E; }
 .j { background-color: #D5DEF5;color:#0749F5; }
 .k { background-color: #545C73;color:#031C63; }
 .l { background-color: #85585C;color:#EB051C; }
 .m { background-color: #ED939B;color:#420D13; }
 .n { background-color: #BC09EB;color:#5C4A42; }
 .o { background-color: #3A09EB;color:#7D85B3; }
 .p { background-color: #099CEB;color:#AD99E8; }
 .q { background-color: #02FAE2;color:#FF0000; }
 .r { background-color: #02FAA3;color:#808000; }
 .s { background-color: #7EFA02;color:#FFFFFF; }
 .t { background-color: #C4FA02;color:#54222E; }
 .u { background-color: #F2FA02;color:#B0A5A8; }
 
 .a1:hover { background-color: #41F007;color:#759669; }
 .b1:hover { background-color: #8C0361;color:#FFFFFF; }
 .c1:hover { background-color: #8C031C;color:#FF0000; }
 .d1:hover { background-color: #8C2E03;color:#800000; }
 .e1:hover { background-color: #0B8435;color:#FFFF00; }
 .f1:hover { background-color: #0B8472;color:#808000; }
 .g1:hover { background-color: #0B5A84;color:#00FF00; }
 .h1:hover { background-color: #57B634;color:#008000; }
 .i1:hover { background-color: #34B652;color:#00FFFF; }
 .j1:hover { background-color: #34B693;color:#008080; }
 .k1:hover { background-color: #5730BB;color:#0000FF; }
 .l1:hover { background-color: #9D30BB;color:#CC0618; }
 .m1:hover { background-color: #BB3094;color:#CC0676; }
 .n1:hover { background-color: #D08E2A;color:#CC06C5; }
 .o1:hover { background-color: #BFD02A;color:#5F06CC; }
 .p1:hover { background-color: #6CD02A;color:#065CCC; }
 .q1:hover { background-color: #F2071F;color:#06AECC; }
 .r1:hover { background-color: #F26507;color:#06CC9B; }
 .s1:hover { background-color: #F20794;color:#06CC1A; }
 .t1:hover { background-color: #FEDCBA;color:#FF00FF; }
 .u1:hover { background-color: #ABABAB;color:#000080; }
